@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row col-lg-1 center-block  ">

    <input id="btnNuevaSoli" type="button" value="Nueva solicitud " />
    <input id ="btnSeguimiento" type="button" value="Seguimiento " />

    <input id="btnAdminLogin" type="button" value="Admin" />

</div>


<script>




</script>




