@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-lg-1 center-block row" >

    <input type="button"  value="Nueva solicitud / Seguimiento"/>

    <input type="button"

</div>


<div>Rep</div>


