USE [master]
GO
/****** Object:  Database [ReportApp]    Script Date: 19/03/2022 12:53:41 p. m. ******/
CREATE DATABASE [ReportApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReportApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VICSQL2\MSSQL\DATA\ReportApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReportApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VICSQL2\MSSQL\DATA\ReportApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReportApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReportApp]
GO
/****** Object:  User [ReportApp]    Script Date: 19/03/2022 12:53:41 p. m. ******/
CREATE USER [ReportApp] FOR LOGIN [ReportApp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AccessLevel]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLevel](
	[Level] [int] NOT NULL,
	[Name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidence]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidence](
	[IdEvidence] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](45) NULL,
	[Path] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvidence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[IdLocation] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[lat] [decimal](18, 0) NOT NULL,
	[long] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[IdReport] [int] IDENTITY(1,1) NOT NULL,
	[IdUserWhoNotified] [int] NOT NULL,
	[IdLocation] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[NotifiedDT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportStatus]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportStatus](
	[IdStatus] [int] NOT NULL,
	[titleStatus] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportUpdate]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportUpdate](
	[IdReportUptdate] [int] IDENTITY(1,1) NOT NULL,
	[IdReport] [int] NOT NULL,
	[IdEvidence] [int] NOT NULL,
	[TitleUpdate] [varchar](45) NOT NULL,
	[Description] [varchar](512) NOT NULL,
	[DTUpdate] [datetime] NOT NULL,
	[isOwnerUpdate] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReportUptdate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionToken]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionToken](
	[IdToken] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](256) NOT NULL,
	[Level] [int] NOT NULL,
	[CreationDT] [datetime] NOT NULL,
	[ExpirationDT] [datetime] NOT NULL,
	[IdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[NumEmpleado] [varchar](25) NOT NULL,
	[UserName] [varchar](25) NOT NULL,
	[Pass] [varchar](25) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOwner_Report]    Script Date: 19/03/2022 12:53:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOwner_Report](
	[IdUser] [int] NOT NULL,
	[IdReport] [int] NOT NULL,
	[DT] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([IdLocation])
REFERENCES [dbo].[Location] ([IdLocation])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[ReportStatus] ([IdStatus])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([IdUserWhoNotified])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[ReportUpdate]  WITH CHECK ADD FOREIGN KEY([IdEvidence])
REFERENCES [dbo].[Evidence] ([IdEvidence])
GO
ALTER TABLE [dbo].[ReportUpdate]  WITH CHECK ADD FOREIGN KEY([IdReport])
REFERENCES [dbo].[Report] ([IdReport])
GO
ALTER TABLE [dbo].[SessionToken]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[SessionToken]  WITH CHECK ADD FOREIGN KEY([Level])
REFERENCES [dbo].[AccessLevel] ([Level])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Level])
REFERENCES [dbo].[AccessLevel] ([Level])
GO
ALTER TABLE [dbo].[UserOwner_Report]  WITH CHECK ADD FOREIGN KEY([IdReport])
REFERENCES [dbo].[Report] ([IdReport])
GO
ALTER TABLE [dbo].[UserOwner_Report]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
USE [master]
GO
